<div class="mtn-carousel">
    <div class="mtn-carousel-top">
        <div class="row align-items-center justify-content-center ">
            <div [ngClass]="{
                'col-2': card !== selectedCard,
                'col-4': card === selectedCard
              }" class="" *ngFor="let card of cards; index as i">
                <app-carousel-card [item]="card" [isSelected]="card == selectedCard" >
                </app-carousel-card>
            </div>
        </div>
    </div>
    <div class="mtn-carousel-bottom">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-2 text-center">
                <div class="">
                    <button class="btn btn-dark btn-left rounded-circle border-0" (click)="back()">
                        &lt;
                    </button>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-lg-4 col-md-2 text-center">
                <div class="">
                    <button class="btn btn-dark btn-left rounded-circle border-0" (click)="next()">
                        &gt;
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>